
{% extends 'base.html' %}


{% block body %}




  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="/">Home</a><span> O nás</span>
              </div>
              <h1>O Ynete a projekte YrentO</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(img/slider_1.jpg);"></li>
      <li style="background-image: url(img/slider_4.jpg);"></li>
      <li style="background-image: url(img/slider_2.jpg);"></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="row heading">
        <div class="col-md-12"><h2 class="mt0 mb50 text-center">O projekte Yrent-O</h2></div>
      </div>
          <div class="row">
          <div class="col-md-20">
            <h2>Ynet</h2>
                <p> Ynet je občianske združenie, ktoré vzniklo 8. 12. 2000 za účelom, aby spojilo ľudí so spoločným záujmom, ktorým je budovanie a zveľaďovanie lokálnej siete na internáte Mladosť.
                </p>
                <p>
                Ynet už devätnásty rok pôsobí na internáte Mladosť v Bratislave. V roku 2007 rozšírilo svoju pôsobnosť na študentský domov Nikosa Belojanisa, vroku 2008 na ŠD Dobrovičova ,v 2009 tom na ŠD Jura Hronca a v 2017 aj na internát Mladá garda. Združenie spája viac ako 3000 študentov prevažne technických smerov a sprostredkováva im pripojenie do siete Internet. Okrem toho poskytuje ďalšie služby ako sú: elektronická pošta, vyhľadávač zložiek na lokálnej sieti, pokrytie študovne wifi sieťou a iné. Činnosť združenia zabezpečujú členovia realizačného tímu. Sú to študenti vysokých škôl, ktorí budujú, udržiavajú, vylepšujú a rozvíjajú sieť a služby poskytované Ynetom vo svojom voľnom čase bez nároku na honorár.

                </p>
          </div>
      </div>
      <div class="row">
        <div class="col-md-20">
          <h2>Yrent-O</h2>
              <p> Myšlienka projektu YrentO vznikla u člena realizačného tímu Ǎdám-a Kotasz-a , ako cesta pre uľahčenie evidencie inventáru združenia a možnosťi zefektívnenia služby požičovne pre členov OZ Ynet.
              </p>
              <p>
                Realizácia prebehla vo forme bakalárskej práce na Materiálovo technologickej fakulte STU v Trnave. Aktuálne je projekt v testovacej prevádzke, očakávané sú ešte mnohé vylepšenia.

              </p>
        </div>
      </div>
    </div>
  </section>





  {% endblock body %}
