
{% extends 'base.html' %}


{% block body %}




  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="/">Home</a><span>Pravidla</span>
              </div>
              <h1>Pravidla</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="row heading">
        <div class="col-md-12"><h2 class="mt0 mb50 text-center">Pravidlá</h2></div>
      </div>

      <div class="row">
        <div class="col-md-20">
          <h2>Základné pravidlá</h2>

        <ol>
          <li>Registráciou na stránke súhlasíš s pravidlami používania služby</li>
          <li>Zároveň registráciou do služby YrentO súhlasíš so <a target="_blank" rel="noopener noreferrer" href="https://www.ynet.sk/sk/o-nas/stanovy-oz-ynet">stanovami</a> a <a target="_blank" rel="noopener noreferrer" href="https://www.ynet.sk/sk/o-nas/pravidla">pravidlami</a> OZ Ynet</li>
          <li>V prípade umyselného poškodenia majetku združenia sa postupuju podľa stanov združenia </li>
          <li>Pri zistení závady bezodkladne kontaktujete Vášho <a target="_blank" rel="noopener noreferrer" href="https://www.ynet.sk/sk/podpora/administratori">lokálneho administrátora</a></li>
          <li>Vypožičané predmety vráťte včas do uvedeného termínu</li>
          <li>Vypožičiavanie predmetu tretím osobám je na zodpovednosť osoby, ktorá mala predmet v danom čase officiálne vypožičaný ,teda aj prípadné poškodenie je na zodpovednosť tej osoby</li>
          <li>Služba YrentO ako aj Ynet je nezisková služba, nezodpovedáme za škody spôsobené používaním našich predmetov. Taktiež prevádzkovanie služby je voľnočasová aktivita adminsitrátorov, nemáte právo od nich žiaadať 24/7 podporu.</li>

        </ol>

        </div>

      </div>
    </div>
  </section>





  {% endblock body %}
