{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<section class="probootstrap-slider flexslider2 page-inner">
	<div class="overlay"></div>
	<div class="probootstrap-wrap-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-8">

					<div class="page-title probootstrap-animate">
						<div class="probootstrap-breadcrumbs">
							<a href="/">Home</a><span>Rezervácie</span>
						</div>
						<h1>Potvrdenie rezervácie</h1>
					</div>

				</div>
			</div>
		</div>
	</div>
	<ul class="slides">
		<li style="background-image: url(img/slider_1.jpg);"></li>
		<li style="background-image: url(img/slider_4.jpg);"></li>
		<li style="background-image: url(img/slider_2.jpg);"></li>
	</ul>
</section>
<!-- END: slider  -->
<section class="probootstrap-section probootstrap-section-lighter">
	<div class="row">
		 <div class="col-md-6 col-md-offset-3">
	<h1>{% trans 'Ďakujeme rezervácia prebehla úspešne' %}</h1>
		</div>
	</div>
</section>
{% endblock %}
